[[commands]]
name = "microvm-firecracker-bridge"
category = "bridge"
command = "nix run .#bridge_firecracker_1 --print-build-logs"
help = "run microvm of firecracker"

[[commands]]
name = "microvm-qemu-bridge"
category = "hosts"
command = '''
        sudo -E nix run .#bridge_qemu_1 --print-build-logs
        '''
help = "run microvm of qemu-bridge | root required"

[[commands]]
name = "microvm-qemu-tap"
category = "hosts"
command = '''
        nix run .#tap_qemu_host --print-build-logs
        '''
help = "run microvm of qemu-host"

[[commands]]
name = "cachix-microvm"
category = "cache"
command = "nix -Lv build .#microvm-kernel --no-link --json | jq -r '.[].outputs | to_entries[].value' | cachix push zeek"
help = "push microvm-kernel to cachix"

[[commands]]
name = "cachix-qemu"
category = "cache"
command = "nix -Lv build .#qemu --no-link --json | jq -r '.[].outputs | to_entries[].value' | cachix push zeek"
help = "push qemu to cachix"
