[bridge-qemu-tap.info]
ipv4 = "192.168.122.100"
bridge = "enp0s6"
defaultGateway = "192.168.122.1"
microvm.interfaces.bridge = "virbr0"

[bridge-qemu-tap.services.vast]
endpoint = "192.168.122.100:42000"

[bridge-qemu-tap.services.vast-client]
endpoint = "10.0.0.1:42000"
broker = true
pcap.enable = false
pcap.interface = "eth0"

[bridge-qemu-tap.services.zeek]
host = "localhost"
interface = "virbr0"
cluster = "10.0.0.1"

[bridge-qemu-tap.services.zeek.sensor.worker_2]
host = "10.0.0.12"
interface = "enp0s5"

#####
# 2 #
#####
[bridge-qemu-2.info]
ipv4 = "192.168.122.101"
bridge = "enp0s6"
defaultGateway = "192.168.122.1"

[bridge-qemu-2.services.vast]
endpoint = "192.168.122.100:42000"

[bridge-qemu-2.services.vast-client]
endpoint = "192.168.122.100:42000"
broker = true
pcap.enable = false
pcap.interface = "eth0"

[bridge-firecracker-1.info]
ip = "10.0.0.4"

[bridge-firecracker-1.services.vast]
endpoint = "10.0.0.4:42000"

[bridge-firecracker-1.services.vast-client]
endpoint = "10.0.0.1:42000"
broker = true
pcap.enable = false
pcap.interface = "eth0"
